################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/obj/**
**/bin/**
**/.vs/**

/Deploy/as/**
/Deploy/js/**
/Deploy/**

.fake
/Deploy/index.html
