################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VsOpen/FileContentIndex
/.vs/GCHAIN-All/FileContentIndex
/Common/bin/Debug/net8.0
/Common/obj
